.myDiv {
  display: flex;
  justify-content: space-around;
  margin: 15px;
  padding: 10px;
  }

  .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }
  .item {
  width: 30%;
  margin: 10px;
  border: 2px solid black;

  }
  .unsp{
  text-align: center;
  color: red;
  }

 .btn{
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bold;

 }
 .btn:hover{
  cursor: pointer;
  background-color: rgb(104, 96, 96);
  color: whitesmoke;
 }

 .sear{
  margin-left: 70px;
  margin-top: 8px;
  font-weight: bold;
  
 }
 